<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appinfosys.dao.appInfo.AppInfoMapper">
	<!-- 查询所有app信息 -->
	<select id="getAllAppsInfo" resultType="AppInfo">
	<!-- <select id="getAllAppsInfo" resultMap="appInfoMap"> -->
		<!-- SELECT * f.appFlatform FROM app_info a LEFT JOIN app_flatform f ON (a.flatformId = f.id) --> 
		SELECT *
		FROM app_info
		order by downloads desc
		<!-- SELECT a.*,s.app_Status AS appStatusName,f.app_Flatform AS appFlatformName
		FROM app_info a,app_status s,app_flatform f
		WHERE a.statusId = s.id AND a.flatformId = f.id
		ORDER BY id DESC -->
	</select>
	
	<!-- 增加app -->
	<insert id="addApp">
		INSERT INTO app_info (softwareName,APKName,supportROM,interfaceLanguage,softwareSize,downloads,appInfo,
								logoLocPath,logoPicPath,fileLocPath,filePath,flatformId,categoryLevel1,categoryLevel2,statusId,versionId)
		VALUES (#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{softwareSize},#{downloads},#{appInfo},
								#{logoLocPath},#{logoPicPath},#{fileLocPath},#{filePath},#{flatformId},#{categoryLevel1},#{categoryLevel2},1,33)
	</insert>
	
	<!-- 删除app -->
	<delete id="deleteApp">
		DELETE FROM app_info WHERE id = #{id}
	</delete>
	
	<!-- 根据id查询app -->
	<select id="getAppInfoById" resultType="AppInfo">
		SELECT * FROM app_info WHERE id = #{id}
	</select>
	
	<!-- 根据app名称模糊查询app -->
	<select id="getAppInfosBySoftwareName" resultType="AppInfo">
		SELECT * FROM app_info WHERE softwareName LIKE CONCAT('%',#{softwareName},'%')
	</select>
	<!-- 根据id修改app -->
	<update id="modifyAppInfoById">
		UPDATE app_info 
		SET softwareName = #{softwareName},softwareSize=#{softwareSize},APKName = #{APKName},statusId=#{statusId},supportROM=#{supportROM},
			interfaceLanguage = #{interfaceLanguage},downloads=#{downloads},flatformId=#{flatformId},appInfo = #{appInfo}
		WHERE id = #{id}
	</update>
	<!-- 根据状态id获取app信息 -->
	<select id="getAppInfoByStatusId" resultType="AppInfo">
		SELECT * FROM app_info WHERE statusId = 1 ORDER BY id DESC
	</select>
	<!-- 根据id修改app状态id -->
	<update id="verifyAppInfoById">
		UPDATE app_info SET statusId = 2 WHERE id = #{id}
	</update>
	<!-- 上架app -->
	<update id="shangJiaAppById">
		UPDATE app_info SET statusId = 4 WHERE id = #{id}
	</update>
	<!-- 下架app -->
	<update id="xiaJiaAppById">
		UPDATE app_info SET statusId = 5 WHERE id = #{id}
	</update>
	<!-- 根据app名称查询app -->
	<select id="getAppInfoBySoftWareName" resultType="AppInfo">
		SELECT * FROM app_info WHERE softwareName = #{softwareName}
	</select>
	
	<!-- 通过下载次数排序所有app -->
	<select id="getAppInfoOrderByDownloads" resultType="AppInfo">
		SELECT * FROM app_info ORDER BY downloads DESC
	</select>
	<!-- 获得所有已上架的APP -->
	<select id="getAppInfoByStatusIdIsFour" resultType="AppInfo">
		SELECT * FROM app_info WHERE statusId = 4
	</select>
	
	<select id="getAllAppInfo" resultMap="appInfoMap">
		<!-- SELECT i.*,s.app_Status FROM app_info i ,app_status s WHERE i.statusId = s.id -->
		<!-- SELECT i.*,s.app_Status,v.versionNo 
		FROM app_info i ,app_status s,app_version v WHERE i.statusId = s.id AND i.versionId = v.id -->
		SELECT i.*,s.app_Status,v.versionNo,c1.category_Name,c2.categoryLevel2Name
		FROM app_info i ,app_status s,app_version v,app_categorylevel1 c1,app_categorylevel2 c2
		WHERE i.statusId = s.id
		AND i.versionId = v.id
		AND i.categoryLevel1 = c1.id
		AND i.categoryLevel2 = c2.id
		ORDER BY id DESC
	</select>
	<resultMap type="AppInfo" id="appInfoMap">
		<!-- <id property="id" column="id"/>
		<result property="statusName" column="app_Status"/>
		<result property="statusName" column="app_Status"/>
		<result property="statusName" column="app_Status"/>-->
		<result property="categoryL1Name" column="category_Name"/>
		<result property="categoryL2Name" column="categoryLevel2Name"/> 
		<result property="versionName" column="versionNo"/>
		<result property="statusName" column="app_Status"/>
	</resultMap>
</mapper>