<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appinfosys.dao.appFlatform.AppFlatformMapper">
	<select id="getAllAppFlatform" resultType="AppFlatform">
		SELECT app_Flatform FROM app_flatform
	</select>
</mapper>